In [1]:
print('hello world')

hello world

In [3]:
print('Hello, my friends!')

Hello, my friends!

In [4]:
print('Hi, my name is Kym. \nI am37. \nI am majoring in Physics')

Hi, my name is Kym.
I am37.
I am majoring in Physics

In [15]:
#ask user for demographic data.

name = input('Please enter your name:')
print('Nice to meet you,',name)

#taking age from user and saving as an integer.
age = int(input('... and your age, please?'))
print('Thank you,',name)

#asking favorite color and season.
color = input("Just two more questions. First, what's your favorite color?")
season = input("Okay. And your favorite season, please:")

#thanking for info and repeating info back to user

print("Great! We're all done! To review, your name is",name,". \nYou are",age,"years old. \nYou like the color",color,". \nFinally, your favorite season is",season,
      ".")

#saving input as float
favdecimal = float(input("What's your favorite number that includes a decimal?"))

#print age times the decimal
print("Okay, cool. Here's your age times your favorite decimal!",age * favdecimal)

Please enter your name: Kym

Nice to meet you, Kym

... and your age, please? 37

Thank you, Kym

Just two more questions. First, what's your favorite color? purple
Okay. And your favorite season, please: summer

Great! We're all done! To review, your name is Kym .
You are 37 years old.
You like the color purple .
Finally, your favorite season is summer .

What's your favorite number that includes a decimal? 3.15

Okay, cool. Here's your age times your favorite decimal! 116.55

In [16]:
var1 = 30
var2 = 5
var3 = 5.5

print(var1+var2)
print(var3-var2)

35
0.5

In [88]:
# asking age and calling out lies!

age = int(input("Hey Babe, what age are you? Don't lie or else!"))
if age == 35:
    print("Good job, you told truth!")
else:
    print("Liar, liar, pants on fire!")

Hey Babe, what age are you? Don't lie or else! 21

Liar, liar, pants on fire!

In [25]:
#building complex numbers

real = 34
imaginary = 4

complex_number = complex(real, imaginary)

print(complex_number)

(34+4j)

In [26]:
# data types

var1 = 10
var2 = 3.3

print('Data type of var1 is:',type(var1))
print('Data type of var2 is:',type(var2))

Data type of var1 is: <class 'int'>
Data type of var2 is: <class 'float'>

In [27]:
print(type(complex_number))

<class 'complex'>

In [43]:
# Working with lists.

list1 = [1,2,3,4,5,6,7,8,9]

print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
# Lists with diff data types.

list2 = [1,2,3,'a','b','c',3.3,4.4,5.5]

print(list2)

[1, 2, 3, 'a', 'b', 'c', 3.3, 4.4, 5.5]

In [44]:
# Appending with lists

list3 = []

a =2
b =3
c ='A'
d = 'Heather'

list3.append(a)
list3.append(b)
list3.append(c)
list3.append(d)

print(list3)

[2, 3, 'A', 'Heather']

In [45]:
# Created an empty list here and then used the for loop to add 
# to the empty list an integer for each element in the range specified.

list4 = []

for i in range(2):
    list4.append(i)

print(list4)

[0, 1]

In [37]:
# Nested lists.

list5 = [[1,2,3,4],['','b','c'],[2.2,3.3,4.4]]

print(list5)

[[1, 2, 3, 4], ['', 'b', 'c'], [2.2, 3.3, 4.4]]

In [39]:
# Nested lists with for loop.

list6 = []

for i in range(1,5):
    list7 = []
    for j in range(i):
        list7.append(j)
    list6.append(list7)

print(list6)

[[0], [0, 1], [0, 1, 2], [0, 1, 2, 3]]

In [89]:
# Tuples. Immutable lists.

tup1 = ()
print(type(tup1))

<class 'tuple'>

In [90]:
tup1 = (1,2,3,4,5)
print(tup1)

(1, 2, 3, 4, 5)

In [105]:
tup1 = (1,2)
tup1 = tup1 + (1,2,3)
tup1

(1, 2, 1, 2, 3)

In [107]:
# for loops with Tuples

tup2 = ()

for i in range(1,5):
    tup3 = ()
    for j in range(i):
        tup3 = tup3 + (j,)
    tup2 = tup2 + (tup3,)

print(tup2)

((0,), (0, 1), (0, 1, 2), (0, 1, 2, 3))

In [125]:
birthdays = {'heatherderriman': "October 23 1988", 'kymderriman': "July 14 1986"}

birthdayquery = input("Who's birthday do you want to know? Use format 'firstnamelastname'.")

print(birthdays[birthdayquery])

Who's birthday do you want to know? Use format 'firstnamelastname'. heatherderriman

October 23 1988

In [124]:
print(birthdays['kymbday'])

July 14 1986

In [127]:
# Messing with dictionaries
#dictionaries can store multiple object types, even other dictionaries.

dict1 = {'A':(1,2,3), 'B':['apple','orange','banana']}
print(dict1)

{'A': (1, 2, 3), 'B': ['apple', 'orange', 'banana']}

In [146]:
# Nested dictionaries

dict2 = {
    'C': {'e':'Hey bro!','f':'Heeeyyy'},
    'D': {'g':'Sup yall','h':'We gooood!'}
}

In [147]:
print(dict2)

{'C': {'e': 'Hey bro!', 'f': 'Heeeyyy'}, 'D': {'g': 'Sup yall', 'h': 'We gooood!'}}

In [156]:
print(birthdays.keys())

dict_keys(['heatherderriman', 'kymderriman'])

In [157]:
print(birthdays.values())

dict_values(['October 23 1988', 'July 14 1986'])

In [163]:
#Boolean Stuff

False

In [165]:
a = True
b = False

print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [166]:
a = 1932
b = 477

print(a > b)

True

In [167]:
print(a == b)

False

In [170]:
""" Messing with Sets
Sets are like lists but each value must be unique."""

set1 = set()
print(type(set1))

<class 'set'>

In [172]:
set1 = set([1,2,3,4,5])
print(set1)

{1, 2, 3, 4, 5}

In [175]:
#If you enter duplicate items into a set, the dupes will be removed.

set1 = set([1,1,2,3,4,4,4,4,5,6,9])
print(set1)

{1, 2, 3, 4, 5, 6, 9}

In [1]:
# Basic Operations

list_1a = [9,10,11,12]
list_2a = [12,13,14,15]

list_3a = list_1a + list_2a
print(list_3a)

[9, 10, 11, 12, 12, 13, 14, 15]

In [6]:
list1 = ['A','B','C','D','E','F']
first_element = list1[0]
last_element = list1[-1]
list2 = [['A','B','C'],['D','E','F'],['G','H']] 
first_list = list2[0]

print(first_list)
print(last_element)
print(first_element)

['A', 'B', 'C']
F
A

In [8]:
list2 = [['A','B','C'],['D','E','F'],['G','H']] 

first_element = list2[0][0]

print(first_element)

f_element = list2[1][-1]

print(f_element)

A
F

In [22]:
list1 = []
count = 9
for num in range(count):
    element = num + 1
    list1.append(element)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
# slicing the list

sliced_first3 = list1[:3]
sliced_last4 = list1[-4:]

print(sliced_first3)
print(sliced_last4)

[1, 2, 3]
[6, 7, 8, 9]

In [31]:
# extracting embedded lists with slicing

list1 = [[1,2],[3,4],[5,6],[7,8,9]]

# extract last 2 elements

last_2 = list1[-2:]
print(last_2)

[[5, 6], [7, 8, 9]]

In [32]:
# extracting pinpointed values
# extract the last 2 elements of the last embedded list above

last_2_elements = list1[-2:][1][-2:]
print(last_2_elements)

[8, 9]

In [35]:
# inserting elements into a list

list1 = []
num_elements = 9
for num in range(num_elements):
    count = num+1
    list1.append(count)
print(list1)

list1.insert(4,'I was here')

print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 'I was here', 5, 6, 7, 8, 9]

In [39]:
#extending

list1 = []
num_elements = 12

for num in range(num_elements):
    count = num + 1
    list1.append(count)

list2 = []
num_big_elements = 4

for num in range(num_big_elements):
    big_count = (num + 1) * 10
    list2.append(big_count)

#print(list1, list2)

#now extend list 1 by adding list 2 to it.

list1.extend(list2)

print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 10, 20, 30, 40]

In [41]:
# deleting list elements

list1 = [1,2,3,'Peter',4,5,6]
list1.remove('Peter')
print(list1)

[1, 2, 3, 4, 5, 6]

In [43]:
# deleting list elements

list1 = [1,2,3,'Peter',4,5,6]
list1.pop(3)
print(list1)

[1, 2, 3, 4, 5, 6]

In [44]:
# deleting list elements

list1 = [1,2,3,'Peter',4,5,6]
del list1[3]
print(list1)

[1, 2, 3, 4, 5, 6]

In [46]:
#concatenate strings

strong_af = 'bitch!'
plea = 'Please, just do this...'

strong_plea = plea + strong_af
print(plea)
print(strong_plea)

Please, just do this...
Please, just do this...bitch!

In [48]:
# indexing and slicing of string

str1 = 'Hey, whatup'
first_element = str1[0]
last_element = str1[-1]

print('First element is:',first_element)
print('Last element is:',last_element)

First element is: H
Last element is: p

In [53]:
my_name = 'Kym Derriman'
last_name = my_name[-8:]
first_name = my_name[:3]

print("My first name is",first_name+".")
print("My last name is",last_name+".")

My first name is Kym.
My last name is Derriman.

In [1]:
dict1 = {'one':1, 'two':2, 'three':3}

#deleting first element
del dict1['one']
print(dict1)

{'two': 2, 'three': 3}

In [2]:
# updating dictionary by adding a second dictionary, which overwrites any overlapping keys

dict1 = {'taylor':'November 23, 2018', 'avery': 'September 28, 2021'}
dict2 = {'heather':'October 23, 1988'}

dict1.update(dict2)
print(dict1)

{'taylor': 'November 23, 2018', 'avery': 'September 28, 2021', 'heather': 'October 23, 1988'}

In [5]:
dict1 = {'one':1, 'two':2, 'three':3}

#getting keys
keys = dict1.keys()

#getting values
values = dict1.values()

print('Keys:',keys)
print('Values:',values)

#getting key / value pair as tuples
items = dict1.items()

print('Items:',items)

Keys: dict_keys(['one', 'two', 'three'])
Values: dict_values([1, 2, 3])
Items: dict_items([('one', 1), ('two', 2), ('three', 3)])